﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="ListCompetitions.aspx.cs" Inherits="CompetitionTool.Competitions.ListCompetitions" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<h1>Competitions</h1>
    <asp:GridView runat="server" ID="grdListComps" AutoGenerateColumns="true">
    </asp:GridView>

</asp:Content>
