﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="Competition.aspx.cs" Inherits="CompetitionTool.CompetitionEntry.Competition" %>
<%@ Register src="ucCompetition.ascx" tagname="ucCompetition" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cp_pageheading" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cp_pagedata" runat="server">
    <uc1:ucCompetition ID="ucCompetition1" runat="server" />
</asp:Content>
